@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Lora', serif;	
}

.navbar {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	background: rgba(0,0,0,0.6) !important;
	padding: 20px 0;
}


.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	padding-left: 0px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #1ebba3;
}

}

#home {
	background-color: gray;
}
.heading-content {
	position: absolute;
	top: 40%;
	width: 100%;
	max-width: 100%;


	
}

.heading-content h5 {
	font-size: 3em;
	font-weight: 300;
	color: #1a0000;
	font-family: monospace;
	color: white;
}

.heading-content h1 {
	font-size: 4em;
	font-weight: bolder;
	color: #1a0000;
	font-family: 'Lora', serif;
	color: white;
}

.heading-content p {
	font-size: 2em;
	font-weight: bolder;
	color: #1a0000;
	font-family: 'Lora', serif;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 100px; 
	word-spacing: 5px;
	letter-spacing: 2px;
	color: white;
}




/*--------------------------About Start----------------------------------*/

#about .btn {
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #000;
	border-radius: 5px;
	margin-top: 10px;

}

#about .btn a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase; 
}

#about .btn:hover {
	border: 2px solid #1ebba3;
}

/*--------------------------Services------------------------------------*/
.card {
	color: black;
}
#service {
	letter-spacing: 2px;
}

#service .button {
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #000;
	border-radius: 5px;
	margin-top: 10px; 
}

#service .button a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase; 
}

#service .button:hover {
	border: 2px solid #1ebba3;
}


/*-------------------------Media Query------------------------------*/
@media screen and (max-width: 767px) {
	/*tablet*/
.navbar {
	letter-spacing: 0.1em;
	padding: 10px 0;
}

.heading-content h5 {
	font-size: 3em;

}

.heading-content h1 {
	font-size: 3em;
}

.heading-content p {
	font-size: 0.9em;
}

}


/*Mobile Phones*/

@media screen and (max-width: 425px) {
	
.navbar {
	letter-spacing: 0.1em;
	padding: 7px 0;
}

.heading-content h5 {
	font-size: 2em;

}

.heading-content h1 {
	font-size: 2em;
}

.heading-content p {
	font-size: 0.7em;
	padding-top: 1px;
}
.sec1 .btn {
	margin-top: 5px;


}

}








